#!/usr/bin/env python

from setuptools import setup

import glob

setup(
    name='teambox-console-setup',
    version='__VERSION__',
    description='Teambox console setup python lib',
    packages='.'
    )

